html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100%;
}

.center-horiz {
  text-align: center;
}

button.lone {
  display: block;
  width: 100%;
}

.screen-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.screen-header {
  height: 3em;
  display: flex;
  align-items: center;
}

.logo {
  background: url(img/logo-512.png) no-repeat;
  background-size: cover;
  animation: rotation 2s infinite ease;
  width: 5em;
  height: 5em;
  margin: 0 auto 2em auto;
}

@keyframes rotation {
  0% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

.time-left {
  margin-left: auto;
  font-size: 1.3em;
  padding: 0.2em 0.4em;
  color: #cc3000;
  border-color: #cc3000;
  border-style: dashed;
  border-width: max(1px, 0.1em) 0 0 max(1px, 0.1em);
}

.room-code {
  margin-left: auto;
  padding: 0.2em 0.4em;
  color: #555;
  border-color: #555;
  border-style: dashed;
  border-width: 0 0 max(1px, 0.1em) max(1px, 0.1em);
}

.screen {
  flex: 1;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}
@media (orientation: landscape) {
  .screen {
    padding-top: 0;
  }
}

label {
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0.6em;
}

.label.error {
  font-size: 1em;
  width: 100%;
  margin: 0 0 1em 0;
}

.button-bar {
  display: flex;
}
.button-bar > button {
  flex: 1;
}
.button-bar > div {
  width: 0.5em;
}

.room-toolbar {
  text-align: center;
}

.word-row {
  display: flex;
  align-items: center;
}

.word-delete {
  margin-left: auto;
  padding: 0.5em 1em;
}

.settings {
  margin-bottom: 2em;
}

.settings-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.settings-title {
  font-weight: bold;
  margin-right: auto;
}

.close-settings {
  margin-left: auto;
}

.rounds-table td {
  padding: 0 .3em;
}

.teams {
  flex: 1;
  overflow: auto;
}

.team {
  width: 100%;
  align-self: flex-start;
}

.team-title {
  font-weight: bold;
  padding: 0.25em 2em 0.25em 1.75em;
  border-left: 0.25em solid #000;
}

.team-table {
  width: 100%;
  padding: 0.5em 0.5em 1em 0;
}

.empty-list {
  color: #999;
}

.team-row {
  display: flex;
}

.player-ready {
  width: 2em;
  text-align: center;
}

.player-name {
  flex: 1;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.5em;
}

.team-score {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2em;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
}

.game-area {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.game-card {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.round-start {
  flex: 1;

  display: flex;
  flex-direction: column;
}
.round-start-title {
  font-size: 1.5em;
}
.round-start-subtitle {
  font-size: 1.25em;
  color: #777;
}
.round-start-desc {
  flex: 1;

  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-info-bar {
  display: flex;
  align-items: center;
}

.cards-left-num {
  font-weight: bold;
}

.cards-left-text {
  color: #555;
}

.cards-guessed {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.5em;
}

.current-player {
  text-align: center;
  height: 3em;
  line-height: 3em;
  font-weight: bold;
  border-top: max(1px, 0.1em) solid #999;
  margin: .25em 0;
  padding: .25em 0;
}

.game-actions {

}

.confetti-ct {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Render underneath the .game-over container */
  z-index: -1;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}

.game-over {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-wins {
  font-size: 2em;
  margin-bottom: 2em;
}

h3.scores-table-title {
  margin: 1em 0 0 1em;
}

.scores-table-ct {
  flex: 1;
  width: 100%;
  overflow: auto;
  margin-bottom: 2em;
}

.scores-table th {
  background-color: #999;
  border-left: max(1px, 0.1em) solid #fff;
  border-bottom: max(1px, 0.1em) solid #fff;
}

.scores-table th
.scores-table td {
  padding: .3em 1em;
  text-align: right;
}
