html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100%;
}

.center-horiz {
  text-align: center;
}

button.lone {
  display: block;
  width: 100%;
}

.screen-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.screen-header {
  height: 3em;
  display: flex;
  align-items: center;
}

.logo {
  background: url(img/logo-512.png) no-repeat;
  background-size: cover;
  animation: rotation 2s infinite ease;
  width: 5em;
  height: 5em;
  margin: 0 auto 2em auto;
}

@keyframes rotation {
  0% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

.time-left {
  padding: 0.2em 0.4em;
  color: #555;
  border-color: #555;
  border-style: dashed;
  border-width: 0 0.1em 0.1em 0;
}

.room-code {
  margin-left: auto;
  padding: 0.2em 0.4em;
  color: #555;
  border-color: #555;
  border-style: dashed;
  border-width: 0 0 0.1em 0.1em;
}

.screen {
  flex: 1;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}

label {
  width: 100%;
  margin-bottom: 1em;
}

.label.error {
  font-size: 1em;
  width: 100%;
  margin: 0 0 1em 0;
}

.button-bar {
  display: flex;
}
.button-bar > button {
  flex: 1;
}
.button-bar > div {
  width: 0.5em;
}

.word-row {
  display: flex;
  align-items: center;
}

.word-delete {
  margin-left: auto;
  padding: 0.5em 1em;
}

.teams {
  flex: 1;
  overflow: auto;
}

.team {
  width: 100%;
  align-self: flex-start;
}

.team-title {
  font-weight: bold;
}

.team-table {
  width: 100%;
}

.empty-list {
  color: #999;
}

.team-row {
  display: flex;
}

.player-ready {
  width: 1em;
  margin-right: 0.5em;
}

.player-name {
  flex: 1;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.5em;
}

.game-area {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.game-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.game-info {
  display: flex;
  align-items: center;
}

.cards-left-num {
  font-weight: bold;
}

.cards-left-text {
  color: #555;
}

.cards-guessed {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.5em;
}

.current-player {
  text-align: center;
  height: 3em;
  line-height: 3em;
  font-weight: bold;
  border-top: 1px solid #999;
  margin: .5em 0;
}

.game-actions {
  border-top: 1px solid #999;
}
