html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.center-horiz {
  text-align: center;
}

button.lone {
  display: block;
  width: 100%;
}

.screen-wrapper {
  width: 100%;
  height: 100%;
}

.screen {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  width: 100%;
  margin-bottom: 1em;
}

.label.error {
  font-size: 1em;
  width: 100%;
  margin: 0 0 1em 0;
}
